.security-advisor-button {
  background: #d70000;
  border-radius: 3px;
  box-shadow: 0 1px 2px -2px #6A6A6A;
  color: white;
  padding: 2px 2px 2px 8px;
  &:hover,
  &.security-advisor-panelopen {
    background: #b00000;
  }
  image {
    margin-left: 4px;
  }
}
