* {
  box-sizing: border-box;
}

body {
  background: #FFF;
  margin: 0;
}

h1 {
  font-weight: normal;
  font-size: 1.2em;
  margin: 0;
}

.sync-box {
  border-top: 1px solid #555;
  &.hidden {
    display: none;
  }
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-around;
  width: 450px;
  & > div {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  .image-box {
    height: 100%;
    width: 10%;
    img {
      display: block;
      margin: auto;
    }
  }
  .inner-box-1 {
    height: 100%;
    width: 65%;
  }
  .inner-box-2 {
    align-items: center;
    height: 100%;
    margin: 0;
    width: 20%;
  }
}

.info-box {
  height: 160px;
  padding: 10px;
  &.hidden {
    display: none;
  }
}

.button-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
    background: #57bd35;
    border: none;
    color: white;
    padding: 4px 4px;
    text-align: center;
    font-size: 12px;
    &:not(:last-child) {
      margin-right: 5px;
    }
    &:hover {
      background: #40a624;
    }
    &.secondary {
      background: #888;
      &:hover {
        background: #777;
      }
    }
}
