* {
  box-sizing: border-box;
}

body {
  background: #FFF;
  margin: 0;
}

h1 {
  font-weight: normal;
  font-size: 1.2em;
}

.sync-box {
  &.hidden {
    display: none;
  }
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-around;
  width: 450px;
  & > div {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  .image-box {
    height: 100%;
    width: 10%;
    img {
      display: block;
      margin: auto;
    }
  }
  .inner-box-1 {
    height: 100%;
    width: 65%;
  }
  .inner-box-2 {
    align-items: center;
    height: 100%;
    margin: 0;
    width: 20%;
  }
}

.welcome-box {
  padding: 5px 10px 20px;
  &.hidden {
    display: none;
  }
}

.complete-box.hidden {
  display: none;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
    background: #57bd35;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    &:hover {
      background: #40a624;
    }
}
